body {
    background-color: #EEEEEE;
}

.column {
    max-width: 450px;
}

.login-container {
    height: 25%;
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
