body {
    background-color: #EEEEEE;
}

.column {
    max-width: 100%;
    margin-top: -15%;
}

.login-container {
    top: 50%;
    margin-top: 30%;
    height: 100px;
    width: 600px;
    justify-content: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
